body
  {
    background-color:#ffe5b9;
  }
  hr
  {
    background-color:#ffe5b9;
    border-style: dotted none none none;
    border-color: #ff8e71;
    border-width:9px;
      width: 9%;
  }
